*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
    font-style: italic;
    color: black
}

a {
    text-decoration: none;
}

body{
    background-color: #7d599b;
}

header {
background-color: rgba(214, 121, 237, 0.751);
padding-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #c50000; 
  text-decoration: underline;
}

.search-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.search-icons input {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.icons {
  display: flex;
  gap: 6px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.icons span:hover {
  color: #ff3b3b;
}

.footer {
  color: #000000;
  margin-top:20vh;
  background-color:rgba(214, 121, 237, 0.751);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;

}

.footer-column ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom{
    text-align: center;
    margin-top: 10px;
}

h3{
  padding: 0px;
  color: rgb(0, 0, 0);
  background-color: #000000;
  text-align: center;
}

hr {
    color: #000000;
}

.login-container{
    background-color: white;
    margin: 50px auto;
    padding: 30px 40px;
    width: 420px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: rgb(79, 79, 79);
    border: 30px solid transparent;
    border-image: url("moldura.jpg") 130 round;
}

.login-container h1{
    text-align: center;
    font-size: 40px;
}

.input{
    position:relative ;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}

.input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid  rgba(255, 255, 255, .2);
    padding: 20px 40px 20px 20px;
    border-radius: 5px;
}

.input i{
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 15px;
}

.lembrar{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.lembrar label input{
    accent-color: white;
}

.lembrar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.lembrar a:hover{
    text-decoration: underline;
    color: white;
    transition: 0.5s;
}

.logi{
    width: 100%;
    height: 50px;
    background-color: rgb(89, 89, 249);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
}


.logi:hover{
    background-color: rgb(63, 63, 177);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.registro-link{
    text-align: center;
    justify-content: space-between;
}

.registro-link a{
    text-decoration: none;
    color: black;
}

.registro-link a:hover{
    color: white;
    transition: 0.5s;
    text-decoration: underline;
}