header{
    background-color: rgba(214, 121, 237, 0.751);
    margin-top: -60px; 
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 20px;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-style: italic;
}
h2 {
    margin-top: 12px;
    margin-bottom: 40px;
}

body {
    background-color: #7d599b;
}
.TUDO {
    background-color: rgb(245, 245, 245);
    align-items: center;
    text-align: center;
    margin-left: 40vh;
    margin-right: 40vh;
    margin-top: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding-bottom: 20px;
    border: 30px solid transparent;
    border-image: url("moldura.jpg") 130 round;
    padding-bottom: 100px;
    display: block;
}

input {
    width: 60vh;
    font-size: 20px;
    background-color: rgba(148, 148, 148, 0.535);
    border-radius: 5px;
    border: 1px solid rgb(148, 148, 148) ;
    padding: 20px;
    height: 1px;
    margin-bottom: 10px;
}

.segundo {
    margin-bottom: -30px;
}
label {
   font-size: 20px;
   margin: 10px;
}

input::placeholder{
    color: rgb(61, 61, 61);
}

button {
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(89, 89, 249);
    width: 20vh;
    border: none;
}

button:hover {
    background-color: rgb(63, 63, 177);
    border: none;
    cursor: pointer;
}

.btn {
    margin-bottom: 10px;
}

#erro {
    margin-top: 10px;
    color: red;
    text-decoration: underline;
    margin-bottom: -100px;
    cursor: pointer;
    display: block;
}
footer{
    margin-top:20vh;
    background-color:rgba(214, 121, 237, 0.751);
    color: rgb(18, 18, 18);
    text-align: center;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    margin-top: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}
