*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
}

header{
    display: flex;
    background-color: #fca6a6;
    padding: 20px;
    gap: 95rem;
}

.link{
    display: flex;
    gap: 40px;
}

.buttonli{
    background-color: aliceblue;
    padding: 6%;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(250, 238, 238);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.sobre{
    margin: 5%;
    background-color: rgb(255, 224, 224);
    padding: 3%;
    border-radius: 20px;
}

.box{
    margin: 8%;
    background-color:rgb(255, 224, 224);
    border-radius: 20px;
    padding: 3%;
}

.produtos{
    display: flex;
    gap: 11rem;
    border: 5px solid;
    border-color:#fca6a6;
    border-radius: 20px;
    padding: 3%;
    margin: 10%;
    margin-top: 80px;
    background-color: rgb(255, 224, 224);
}

img{
    max-width: 200px;
    min-width: 200px;
    max-height: 220px;
    min-height: 220px;
    border-radius: 30px;
    border: 3px solid;
    border-color: #f5cece;
}

.produto1{
   border: 3px solid rgb(248, 155, 155);
   border-radius: 30px;
   padding: 20px;
}

.isso{
    margin: 3%;
    background-color: rgb(255, 224, 224);
    padding: 2%;
    border-radius: 20px;
}

.isso a{
    font-size: 25px;
}

footer{
    background-color: #fca6a6;
    padding: 2%;
}