body{
 background-color: rgb(243, 243, 243);
}

header{
    background-color: rgb(70, 4, 124);
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}


.text1 {
    text-align: left;
    margin-left: 200px;
    display:inline-flex;
}


.text2 {
    text-align: right;
    margin-left: 70%;
    display:inline-flex;
}

.container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 15%;
    display: block;
}

.but1 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.but2 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.opcao1 {
    background-color: red;
    color: white;
    display: inline-block;
    border-radius: 10px;
    width: 300px;
    margin-right: 20px;
}

.opcao2 {
    background-color: rgb(0, 100, 158);
    color: white;
    display: inline-block;
    border-radius: 10px; 
    width: 300px;
}

.opcao3 {
    background-color: rgb(255, 208, 0);
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin-top: 3%;
    width: 300px;
    margin-right: 20px;
}

.opcao4 {
    background-color: green;
    color: white;
    display: inline-block;
    border-radius: 10px;
    width: 300px;
    margin-top: 18px;
}