.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    margin: 20px auto;
    border-radius: 10px;
    color: #4b5c47;
    z-index: 1000;
    
    
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label{
    height: 25px;
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; 
    position: absolute;
    margin-top: -19px;
    margin-left: 5px;
    width: 99.5%;
}

.card{
    background-color: #ffffff;
    border: 1px solid #e4e9f0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card:hover{
    cursor: pointer;
}

.card{
 font-size: 14px;
 padding-left: 5px;

}