footer{
    margin-top: 4rem;
    padding : 1.5rem  2rem ; 
    background-color : #95b69086 ; 
    color : #fff ; 
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    color: rgb(84, 110, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 4px;
}
.logo img{
    width: 70px;
    margin-top: -10px;
}

header{
    display: flex;
    background-color: #95b69086;
}
header a{
    color: white;
    overflow: hidden;
}
.conteudo{
    margin-left: 40rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.loucura{
    display: flex;
}

.morte{
    background-color: rgba(88, 117, 90, 0.212);
    padding: 12px;
    border-radius: 10px;
    margin-left: 60px;
}

body{
    background-image: url('../img/fundo.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.subsub {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgba(88, 117, 90, 0.212);
    padding: 12px;
    border-radius: 10px;
    margin-left: 60px;
}

.subcategoria {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.subcategoria li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(136, 167, 139);;
}

.subcategoria li:hover {
    background-color: #87a085;
}

.subsub:hover .subcategoria {
    display: block;
}

.livro{
  display: block;
  text-align: center; 
  min-width: 200px;
  max-width: 200px;
  min-height: 350px;
  max-height: 350px;
  text-decoration: none;
  color: var(--text);
  background: var(--card);
  padding: 10px; 
  border-radius: 8px;
  flex-shrink: 0;
  border: 1px solid rgba(0,0,0,0.05);
  transition: transform .18s ease, box-shadow .18s ease;
  flex-shrink: 0;
  margin: 15px;
}

.livro p{
    color: rgb(66, 100, 74);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}


.livro:hover{
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(53,90,58,0.08);
  border-color: rgba(53,90,58,0.12);
}

.livro img{
    width: 200px;
    height: 300px;
}

.selecaoli{
    display: flex;
    margin-left: 4rem;
    margin-top: 4rem;
}

.selecao2{
    display: flex;
    margin-left: 4rem;
}