*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    color: rgb(84, 110, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 4px;
}
.logo img{
    width: 70px;
    margin-top: -10px;
}

header{
    display: flex;
    background-color: #95b69086;
}
header a{
    color: white;
    overflow: hidden;
}
.conteudo{
    margin-left: 40rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.loucura{
    display: flex;
}

.morte{
    background-color: rgba(88, 117, 90, 0.212);
    padding: 12px;
    border-radius: 10px;
    margin-left: 60px;
}

body{
    background-image: url('../img/fundo.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.subsub {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgba(88, 117, 90, 0.212);
    padding: 12px;
    border-radius: 10px;
    margin-left: 60px;
}

.subcategoria {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.subcategoria li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(136, 167, 139);;
}

.subcategoria li:hover {
    background-color: #87a085;
}

.subsub:hover .subcategoria {
    display: block;
}


.carrosel-infinito{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.carrosel{
  display: flex;
  gap: 14px;
  transition: transform 0.35s ease;
  padding: 10px 6px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}

.carrosel::-webkit-scrollbar{
    height: 8px
}

.carrosel::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0.12);
    border-radius: 8px
}

.carrosel-seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(50, 90, 52, 0.4);
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  color: #e5ffee;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transition: 0.2s ease;
}

.carrosel-seta:hover {
  background: rgba(29, 59, 32, 0.6);
}

.carrosel-seta.back {
  left: 0;
}

.carrosel-seta.next {
  right: 0;
}

.livro{
  display: block;
  text-align: center; 
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300;
  text-decoration: none;
  color: var(--text);
  background: var(--card);
  padding: 10px; 
  border-radius: 8px;
  flex-shrink: 0;
  border: 1px solid rgba(0,0,0,0.05);
  transition: transform .18s ease, box-shadow .18s ease;
  flex-shrink: 0;
}


.livro:hover{
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(53,90,58,0.08);
  border-color: rgba(53,90,58,0.12);
}

.destaqueMes{
    color: rgb(84, 110, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 19.5rem;
}

footer{
    margin-top: 4rem;
    padding : 1.5rem  2rem ; 
    background-color : #95b69086 ; 
    color : #fff ; 
    text-align: center;
}
.livro img{
    width: 200px;
    height: 300px;
}
.alta img{
    width: 200px;
    height: 300px;
    columns: 2;
    margin-bottom: -20vh
}
.meta{
    padding-top: 5vh;
    padding-left: 5vh;;
}
.prince{
    display: flex;
    padding-left: 70vh;
    margin-top: -110px;
}
.crime{
    display: flex;
    padding-left: 135vh;
    margin-top: -15.7%;
}

.um {
    columns: 2;
    padding-right: 60%;   
    margin-left: 30px;
}
.porra p{
    display: flex;
    font-size: 20px;
    padding-left: 32vh;
    padding-right: 150vh;
    margin-top: -310px;
    line-height: 40px;
}
.pqp{
    display: flex;
    font-size: 20px;
    padding-left: 94vh;
    padding-right: 80vh;
    line-height: 40px;
    margin-top: -110px;
}
.fds{
    display: flex;
    font-size: 20px;
    padding-left: 160vh;
    padding-right: 17vh;
    margin-top: -120px;
    line-height: 40px;
}

.alta h2{
    color: rgb(84, 110, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 50px;
}