header {
    padding: 5px;
    background-color: rgba(159, 105, 180, 0.747);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

header h1{
    text-align: center;
    justify-content: center;
}

h1{
    color: white;
    display: flex;

}
.Box{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 9.8%;
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: rgba(235, 230, 153, 0.533);
    border: 5px solid rgba(236, 230, 155, 0.329);
    border-radius: 40px;
    box-shadow: rgba(40, 44, 0, 0.342) 0px 5px 15px 0px;
}

body {
    background-image: url('unnamed.webp');
    background-repeat: no-repeat;
    background-size: cover;
  

}
footer{
    margin-top:20vh;
    padding: 20px;
    background-color: rgba(159, 105, 180, 0.747);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}
input{
    padding: 2%;
    border: 3px solid rgb(236, 230, 155);
    border-radius: 10px;
    height: 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.85);
}
button{
    width: 35%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color:rgb(159, 105, 180) ;
    color: white;
    border-color: rgb(180, 126, 202);
}
h2{
    font-size: 25px;
}
p{
    font-size: 17px;
}
